* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Giloy";
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #edeff2;
  font-family: "Open Sans", sans-serif;
}

nav {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin-right: 5.625vw;
}
li a {
  text-decoration: none;
  padding: 1.2vw;
  cursor: pointer;
  color: #676770;
  line-height: 3vw;
  font-family: sans-serif;
}

nav h1 {
  margin-left: 5.625vw;
  line-height: 3vw;
  color: #0082f3;
  font-family: sans-serif;
}

nav ul li a:hover {
  color: #0082f3;
}

i{
    padding:1vw 3vw;
    display: none;
}

#main {
  width: 100%;
  height: calc(100%-60px);
}
.container1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 20vw;
  white-space: nowrap;
  background-image: url("https://images.unsplash.com/photo-1606160054803-1d3628097c07?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8b2NlbnxlbnwwfHwwfHx8MA%3D%3D");
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.1);
  background-repeat: no-repeat;
  text-align: center;
}

.cont1 h1 {
  font-size: 6vw;
  /* line-height: 4vw; */
  font-weight: 500;
  font-family: sans-serif;
  color: #dadada;
}

.cont1 p {
  font-family: sans-serif;
  color: #0082f3;
  font-size: 3vw;
  line-height: 6vw;
}

.cont1 .btn {
  text-align: center;
  padding: 4vw;
  white-space: nowrap;
}
.btn button {
  display: inline-block;
  margin-right: 1vw;
  margin-left: 1vw;
  padding: 1.1vw 3vw;
  border-radius: 4px;
  background-color: #69b9ff;
  color: #fff;
  font-size: 1.5vw;
  line-height: 2.1vw;
  font-weight: 300;
  font-family: sans-serif;
  cursor: pointer;
  transition: all 0.3s ease;
}

#btn1 {
  border: 2px solid transparent;
}

#btn2 {
  border: 1px solid whitesmoke;
  background-color: transparent;
}

button:hover {
  background-color: #0082f3;
}

/* #btn1:hower{
    background-color: #0082f3;
   
} */
#btn2:hover {
  border: 1px solid #0082f3;
  color: #0082f3;
}

/* 2 */
.container2 {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4vw 0;
}

.container2 h1 {
  font-size: 3vw;
}

.container2 p {
  font-size: 1.5vw;
  font-weight: 100px;
  margin-bottom: 2vw;
  padding: 2vw;
  opacity: 0.5;
}

.cont2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  /* height:30%; */
  width: 25vw;
  padding: 15px;
  border: 1px solid #dcebf7;
  border-radius: 5px;
  background-color: #fff;
  text-align: center;
  border: 2px solid transparent;
  padding: 1vw 0;
  margin: 1vw 1vw;
  border: 0.1px solid #0082f3;
}

.cont2 {
  padding: 4vw;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 8vw;
}

.card img {
  height: 20vw;
  width: 20vw;
  border-radius: 50%;
  border: 2px double #69b9ff;
  padding: 2vw;
  object-fit: cover;
  object-position: center;
}

.card h3 {
  margin-top: 2vw;
  font-size: 1.2vw;
  padding: 0.5vw 1vw;
  letter-spacing: 0.8vw;
  white-space: nowrap;
}
@media (max-width: 600px) {

    nav ul li{
        display: none;
    }
  
    i{
        display: block;
    }


  .cont2 {
    padding: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
  }

  .card {
    display: block;
    width: 90%;
    font-size: 4vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .card img {
    height: 30vw;
    width: 30vw;
  }
  .card h3 {
    margin-top: 4vw;
    letter-spacing: 1vw;
    font-size: 3vw;
  }
  .card p,
  h1 {
    display: block;
    width: 90%;
    font-size: 4vw;
  }
}

/* 2 */
.container3 {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4vw 0;
  background-color: #192024;
}

.container3 h1 {
  font-size: 3vw;
  color: #fff;
}

.container3 p {
  font-size: 2vw;
  font-weight: 100px;
  margin-bottom: 2vw;
  padding: 2vw;
  color: #dadada;
}

.container3 .cont3 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  padding: 0vw 8vw;
}

.container3 .card1 {
  width: 50%;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
  margin: 1vw 1vw;
}

.container3 .card1 img {
  height: 18vh;
  width: 100%;
  border-radius: 1vw;
  object-fit: cover;
  object-position: center;
}

.container3 .card1 h3 {
  margin-top: 2vw;
  font-size: 1.7vw;
  padding: 0.5vw 1vw;
  letter-spacing: 1vw;
  white-space: nowrap;
  color: white;
}

#btn3 {
  display: inline-block;
  margin-right: 1vw;
  margin-left: 1vw;
  padding: 1.1vw 3vw;
  border-radius: 4px;
  background-color: #69b9ff;
  color: #fff;
  font-size: 1.5vw;
  line-height: 2.1vw;
  font-weight: 300;
  font-family: sans-serif;
  cursor: pointer;
  transition: all 0.3s ease;
}

#btn3 {
  border: 1px solid whitesmoke;
  background-color: transparent;
}

#btn3:hover {
  border: 1px solid #0082f3;
  color: #0082f3;
}

@media (max-width: 600px) {
  .cont3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .container3 .card1 {
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    margin: 1vw 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .container3 .card1 img {
    height: 30vh;
    width: 100%;
    border-radius: 1vw;
    object-fit: cover;
    object-position: center;
  }

  .container3 .card1 h3 {
    margin-top: 4vw;
    letter-spacing: 2vw;
    font-size: 4vw;
  }
  .card1 p,
  h1 {
    display: block;
    width: 100%;
    font-size: 5vw;
    text-align: center;
    /* margin:1vw 0; */
  }

  #btn3 {
    border: 1px solid whitesmoke;
    background-color: transparent;
  }

  #btn3:hover {
    border: 1px solid #0082f3;
    color: #0082f3;
  }
}


/* --------------- container 4 */

.container4{
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10vw 0;
  }
  
  .container4 h1 {
    font-size: 3vw;
  }
  
  .container4 p {
    font-size: 2vw;
    font-weight: 100px;
    margin-bottom: 2vw;
    padding: 2vw;
    opacity: 0.5;
  }
  
  .container4 .cont4 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    padding: 0vw 8vw;
  }
  
  .container3 .card2{
    width: 50%;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    margin: 1vw 1vw;
  }
  
  .container4 .card2 img {
    /* height: 100vh; */
    width: 100%;
    border-radius: 1vw;
    object-fit: cover;
    object-position: center;
  }
  
  .container4 .card2 h3 {
    margin-top: 2vw;
    font-size: 1.7vw;
    padding: 0.5vw 1vw;
    letter-spacing: 1vw;
    white-space: nowrap;
  }
  
.button{
    margin-top: 2vw;
    margin-bottom:4vw;
}

  #btn4 {
    display: inline-block;
    margin-right: 1vw;
    margin-left: 1vw;
    padding: 1.1vw 3vw;
    border-radius: 4px;
    color: black;
    font-size: 1.5vw;
    line-height: 2.1vw;
    font-weight: 300;
    font-family: sans-serif;
    cursor: pointer;
    transition: all 0.3s ease;
    border: none;
  }
  
  #btn4 {
    background-color: #92A0AD;
  }
  
  #btn4:hover {
    background-color: #69b9ff;
  }
  


  /* ----- 5th container  */



.container5{

    background: #dadada ;

    height:100%;
    width: 100%;
    display: flex;
    gap: 3vw;
    padding: 4vw 5vw;
    font-size: 1.7vw;
    
}

.cont5{
   height:30vh;
   width: 30vw;
   white-space: nowrap;
   background-color: red;
   display: flex;
   margin: 1vw;
   padding: 1vw;
   
}

.card5 h3{
   white-space: nowrap;
   letter-spacing: 0.5vw;
   padding:0 2vw 2vw 0 ;
 }

.card5 p{
    font-size: 2vw;
}

.card5 .p{
    white-space: nowrap;
    font-size: 2vw;
    line-height: 4vw;
}


.bot{
    display: flex;
    /* flex-direction: column; */
}


@media (max-width:600px) {

    .container5{

        background: #dadada ;
    
        height:100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 3vw;
        padding: 4vw 5vw;
        font-size: 1.7vw;
        
    }


    

    
}


footer{
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vw;
    background-color: black;
    color:#dadada;

}
